<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact us</title>
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/contact.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gwendolyn:wght@700&family=Raleway:wght@500&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gwendolyn:wght@700&display=swap" rel="stylesheet">


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Noto+Sans&display=swap" rel="stylesheet">
</head>
<body>

    <nav>
        <ul class="navi" >
            <li id="data"><b><a href="mainlanding.html">Home</a></b></li>
            <li id="data"><b><a href="musicplayer.html">Music Player</a></b></li>
            <li id="data"><b><a href="signup.html">Sign-Up</a></b></li>
            <li id="data"><b><a href="contactus.html">Contact Us</a></b></li>
            <!-- <li id="data"><b><a href="#">Terms of Use</a></b></li> -->
        </ul>
       </nav>

    <div style="position: relative; margin-top: 50px; margin-bottom: 50px;">
        <img src="../../assets/image/girl.jpg" width="99%" height="600vh" style="border-radius:10px; border: 3px solid rgb(1 172 244);">
        <div id="form_text"><h1 id="cont_title">Contact Us </h1>
        <form id="form_id">
           <!-- <label for="fname">First Name</label><br> -->
           <input type="text" id="fname" name="fname" id="fid" placeholder="First Name"><br><br>

           <!-- <label for="mname">Middle Name</label><br> -->
           <input type="text" id="mname" name="mname" id="mid" placeholder="Middle Name"><br><br>

           <!-- <label for="lname">Last Name</label><br> -->
           <input type="text" id="lname" name="lname" id="lid" placeholder="Last Name"><br><br>

           <!-- <label for="email">Email</label><br> -->
           <input type="email"  name="fname" id="email" placeholder="Email Address"><br><br>

           <!-- <label for="mobile">Mobile Number</label><br> -->
           <input type="number" id="mobile" name="fname" placeholder="Mobile Number" ><br><br>

           <input type="button" value="Send" id="bid">
        </form></div>
    </div>










  <div class="footer-container">
      <div class="footer">
          <div class="footer-heading footer-1">
              <h2>About Us</h2>
              <a href="#">Blog</a>
              <a href="#">Demo</a>
              <a href="#">Customers</a>
              <a href="#">Investors</a>
              <a href="#">Terms of service</a>
          </div>
          <div class="footer-heading footer-2">
            <h2>Contact Us</h2>
            <a href="#">Jobs</a>
            <a href="#">Support</a>
            <a href="#">Contact</a>
            <a href="#">Sponsorship</a>

        </div>
        <div class="footer-heading footer-3">
            <h2>Social Media</h2>
            <a href="#"><i class="fa fa-facebook fa-sm"></i>&nbspFacebook</a>
            <a href="#"><i class="fa fa-instagram fa-sm"></i>&nbspInstagram</a>
            <a href="#"><i class="fa fa-youtube fa-sm"></i>&nbspYoutube</a>
            <a href="#"><i class="fa fa-twitter fa-sm"></i>&nbspTwitter</a>
            <a href="#"><i class="fa fa-whatsapp fa-sm"></i>&nbspWhatsapp</a>
        </div>
        <div id="footer-email-form">
            <h2>Join Our News Letter</h2>
            <input type="email" placeholder="Enter your email" id="footer-email">
            <input type="submit" value="sign-up" id="footer-email-btn">
        </div>

      </div>

  </div>



</body>
</html>
