<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/mainlanding.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gwendolyn:wght@700&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gwendolyn:wght@700&display=swap" rel="stylesheet">



<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Noto+Sans&display=swap" rel="stylesheet">
<style>


</style>


</head>
<body>

    <nav>
        <ul class="navi" >
            <li id="data"><b><a href="mainlanding.html">Home</a></b></li>
            <li id="data"><b><a href="musicplayer.html">Music Player</a></b></li>
            <li id="data"><b><a href="signup.html">Sign-Up</a></b></li>
            <li id="data"><b><a href="contactus.html">Contact Us</a></b></li>
            <!-- <li id="data"><b><a href="#">Terms of Use</a></b></li> -->
        </ul>
       </nav>

  <div style="position:relative; margin-top: 30px;">
      <img src="../../assets/image/standsinger.jpg" id="mainpic">
      <div style="position:absolute; top:100px; left:50px; font-family: 'Lora', serif; color:#0d3676c4">
       <h1 style=" font-family: 'Gwendolyn', cursive; font-size: 3.5em;letter-spacing: 2px;">Spread <br> <br>the love <br><br>  of music..!</h1></div>

  </div>











   <section id="first_section">
       <p>Flavour of Musics</p>
       <ul>
           <li id="li_one">90's Songs</li>
           <li id="li_two">Bollywood Songs</li>
           <li id="li_three">Pop Songs</li>
       </ul>
   </section>



   <div id="second" style="margin-top:60px;
     margin-bottom:60px; margin-left:20px; ">
       <img src="../../assets/image/mobilemusic.jpg"  style="border-radius:100px; ">
   </div>



   <section id="first_section">
    <p>Evergreen Best singer</p>
    <ul>
        <li id="li_one">90's Songs</li>
        <li id="li_two">Bollywood Songs</li>
        <li id="li_three">Pop Songs</li>
    </ul>
</section>

   <section id="second-sec">
       <!-- <hr id="sone">
          <p id="second-para"><span id="second-span">Best Singer's Collections</span></p>
        <hr id="stwo"> -->
    <div id="second-img">
        <img src="../../assets/image/udit-narayan.jpg" id="eightimg"  alt="nopic">

        <img src="../../assets/image/asha-bhosle.jpg" id="twoimg"  alt="nopic">
        <img src="../../assets/image/kuamr-sanu2.jpg" id="threeimg"  alt="nopic">

        <img src="../../assets/image/alka-yagink.webp" id="fourimg"  alt="nopic">
        <img src="../../assets/image/lata-mageskar.jpg" id="fiveimg" alt="nopic">
        <img src="../../assets/image/sankar-mahadevan.webp" id="oneimg"  alt="nopic">
        <img src="../../assets/image/Bappi-Lahiri.jpg" id="sevenimg"  alt="nopic">

        <img src="../../assets/image/Kishore-Kumar.jpg" id="siximg"  alt="nopic">
        <!-- <img src="" id="nineimg"> -->


    </div>
   </section>




  <!-- three sequence image starts here -->

  <section>
    <section id="third_section">
        <p>New Hits Trend Music</p>
        <ul>
            <li id="li_one">Reels</li>
            <li id="li_two">Tiktok</li>
            <li id="li_three">Mxtaktak</li>
            <li id="li_four">YoutubeShorts</li>
            <li id="li_five">all others.</li>
        </ul>
    </section>
    <ul style="margin-top:50px; margin-bottom: 50px;">

        <li style="display: inline">

            <img src="../../assets/image/relax.jpg"  class="oneline" style="height:80vh; width:70vh;">



      </li>

      <li style="display: inline">
          <img src="../../assets/image/music-tape.jpeg"  class="oneline" style="height:80vh;">
      </li>
      <li style="display: inline">
          <img src="../../assets/image/jusdevoyage-8lWdZt0zZ08-unsplash.jpg"  class="oneline" style="height:70vh;">

      </li>
    </ul>
  </section>

  <div>
      <hr>
  </div>
  <!-- three sequence image End here -->


  <!-- content starts here -->
  <div style=" height:4rem;
  text-align: center; background-color:#0e0a35;">
      <span style="font-family: 'Dancing Script', cursive;
      font-size: 3em;
      color:#ffffff; "
       >feel music & love music</span>
  </div>

  <!-- content  End here -->





<section>
     <div class="subsc">
        <img src="../../assets/image/ben-blennerhassett-LR5eS1C9IUU-unsplash.jpg" alt="girlblue">
      <div id="top-left">Get Your Subscription</div>
      <div id="top-bottom"><button id="sub-bt">Buy Now</button></div>
     </div>
</section>






 <!-- strat  scrolling image using marquee tag -->

<!-- <div style="margin-bottom: 20px;">
    <marquee direction="right" scrollamount="12" hspace="5%" vspace="5%" behavoir="idernate">
     <img src="listenmusic.jpg" height="350rem" class="marq">
     <img src="girl.jpg" height="350rem" class="marq">
     <img src="listenmusic.jpg" height="350rem" class="marq">
     <img src="girl.jpg" height="350rem" class="marq">
    </marquee>

</div> -->

 <!-- End scrolling image using marquee tag -->

 <section id="fourth_section">
    <p>New Popular Singers</p>
    <ul>
        <li id="fo-one">Hit Albums</li>
        <li id="fo-two">Coke Studio</li>
        <li id="fo-three">Juke Box</li>
    </ul>
    <div class="fourimg">
        <img id="fo-img" src="../../assets/image/math-rblqmwB7kKk-unsplash.jpg" alt="noimge" style="height:120vh;width:100%;">
      <!-- <div id="fo-btm"><img src="darshan.jpg" alt="jk"></div>
       <div id="fo-ltm"><button id="sub-bt">Buy Now</button></div>
     </div> -->
</section>




<!-- footer code starts -->


  <div class="footer-container">
      <div class="footer">
          <div class="footer-heading footer-1">
              <h2>About Us</h2>
              <a href="#">Blog</a>
              <a href="#">Demo</a>
              <a href="#">Customers</a>
              <a href="#">Investors</a>
              <a href="#">Terms of service</a>
          </div>
          <div class="footer-heading footer-2">
            <h2>Contact Us</h2>
            <a href="#">Jobs</a>
            <a href="#">Support</a>
            <a href="#">Contact</a>
            <a href="#">Sponsorship</a>

        </div>
        <div class="footer-heading footer-3">
            <h2>Social Media</h2>
            <a href="#"><i class="fa fa-facebook fa-sm"></i>&nbspFacebook</a>
            <a href="#"><i class="fa fa-instagram fa-sm"></i>&nbspInstagram</a>
            <a href="#"><i class="fa fa-youtube fa-sm"></i>&nbspYoutube</a>
            <a href="#"><i class="fa fa-twitter fa-sm"></i>&nbspTwitter</a>
            <a href="#"><i class="fa fa-whatsapp fa-sm"></i>&nbspWhatsapp</a>
        </div>
        <div id="footer-email-form">
            <h2>Join Our News Letter</h2>
            <input type="email" placeholder="Enter your email" id="footer-email">
            <input type="submit" value="sign-up" id="footer-email-btn">
        </div>

      </div>

  </div>

<!-- footer code ends -->
<!-- <script>
    $("#slideshow > div:gt(0)").hide();

setInterval(function() {
  $('#slideshow > div:first')
    .fadeOut(1000)
    .next()
    .fadeIn(1000)
    .end()
    .appendTo('#slideshow');
},  3000);
</script> -->
</body>
</html>
